<div id='arrow-left' class='arrow left hide-img' data-component='carousel-arrow'></div>
        
<div id="thumbs">
    <ul class='carusel-items-container' data-component='carousel-items-container'></ul>
</div>

<div id='arrow-right' class='arrow right hide-img' data-component='carousel-arrow'></div>